<h1 style="text-align: center;">Демонстрационная страница</h1>

<p style="text-align: center;"><strong>Версия:<em>&nbsp;</em></strong><em>v-0.0.1-alpha</em></p>
<hr />

<p style="text-align: center;">🌍</p>

<p style="text-align: center;"><img height="480" id="bg" src="{{ url_for('video_feed') }}" width="640" /></p>

<hr />
<p style="text-align: center;"><strong>Озвучить текст на устройстве</p>
<p style="text-align: center;">Cтатус:&nbsp;<span name="status" style="background-color:#717171;">None</span></p>

<form method="post" action="/">
  <p style="text-align: center;"><strong><input name="text" size="100" type="text" value="" /></strong></p>
  <p style="text-align: center;"><input name="Send" type="submit" value="Отправить" /></p>
</form>
<p style="text-align: center;">&nbsp;</p>
